/* global styles */
p {
	line-height: 1.7em;
}

a:link, a:visited {
	text-decoration: underline;
}


/* nav */
.navbar-inverse {
	border-color: #2876ff;
	background: rgba(40, 118, 255, .9);
}

	.navbar-inverse .navbar-nav > li > a:link, .navbar-inverse .navbar-nav > li > a:visited, .navbar-inverse .navbar-brand {
		color: #e5e1df;
		text-decoration: none;
	}

	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
		color: #fff;
	}


/* jumbotron */

.jumbotron {
	padding: 5em 0 5em 0;
	margin-bottom: 0;
	background: #e1e4ea url(../images/map.jpg) no-repeat center center;
	background-size: cover;
}

	.jumbotron p {
		margin-bottom: 0;
	}

	p.micro {
		font-size: .8em;
		font-style: italic;
		margin-top: 0;
		padding: 0 0 2em 0;
	}

	/* eliminates the gutters in bootstrap */
	.row.no-gutters {
	  margin-right: 0;
	  margin-left: 0;
	}
	.row.no-gutters > [class^="col-"],
	.row.no-gutters > [class*=" col-"] {
	  padding-right: 0;
	  padding-left: 0;
	}

		.animal-div {
			position: relative;
			overflow: hidden;
		}

		.animal-div img {
			width: 100%;
			cursor: pointer;
		}

		.animal-div p {
			transition: .3s;
			position: absolute;
			bottom: 0;
			left: -100%;
			width: 100%;
			margin: 0;
			padding: .5em;
			color: #fff;
			background: rgba(74, 208, 160, .9);
		}

		.animal-div:hover p, .animal-div:focus p {
			transition: .3s;
			left: 0;
		}

		#animal-gif {
			min-height: 350px;
		}


/* animal-list */
#animal-list {
	background: url(../images/jumbotron-bottom-bg.jpg) repeat-x center top;
}

.animal-input {
	padding: 5em 0;
}

	.animal-input h3 {
		margin-top: 0;
		padding-top: 0;
	}

	#add-animal-form input {
		height: 32px;
		border-radius: 0;
	}

	#add-animal-form input[type="text"] {
		padding-left: .5em;
		border: none;
		color: #333;
		background: #b8f2da;
	}

	#add-animal-form input[type="text"]:focus {
		outline: none;
		border: none;
		color: #fff;
		background: #2876ff;
	}

	#add-animal-form input[type="submit"] {
		margin-left: -4px;
	}

	#add-animal-form input[type="submit"]:focus {
		outline: none;
	}

	.animal-input button {
		width: 48%;
		float: left;
	}

	.animal-input button:nth-of-type(odd) {
		margin-right: 2%;
	}

	.animal-input button:nth-of-type(even) {
		margin-left: 2%;
	}

	#animal-list h5 {
		padding-bottom: 1em;
	}


/* about */
#about {
	padding: 10em 0;
	text-align: center;
	color: #e5e1df;
	background: #2876ff;
}

	#about a:link, #about a:visited {
		color: #e5e1df;
	}

	#about a:hover, #about a:focus {
		color: #fff;
	}


/* donate */
#donate {
	padding: 10em 0;
	background: #e5e1df;
}

	.donate-container {
		text-align: center;
	}

		.donate-container p {
			margin-top: 5em;
		}

			.btn-success, a.btn-success:link, a.btn-success:visited {
				text-decoration: none;
				border: none;
				border-radius: 0;
				background: #4ad0a0;
			}

			.btn-success:hover, .btn-success:focus, a.btn-success:hover, a.btn-success:focus {
				background: #41af85;
			}


/* footer */
footer {
	padding: 2em 0;
}